.ember-select-guru {
  border: solid 1px $border;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0 8px -6px $black;
  }

  &__trigger {
    padding: $base $base $base - 3;
  }

  &__search {

    &-wrapper {
      padding: $base $base * 2;
    }

    box-sizing: border-box;
    padding: $base;
    width: 100%;
    border: solid 1px $border;
  }

  &__option {
    padding: $base $base * 2 $base - 3;

    &:hover {
      background: $hover;
    }

    &.is-active {
      background: $active;
    }
  }
}
