.ember-select-guru {
  position: relative;

  &:hover {
    box-shadow: 0 0 8px -6px $black;
  }

  &__trigger {
    padding: $base;
    border: solid 1px $border;
    border-radius: 5px;
    cursor: pointer;
  }

  &__search {

    &-wrapper {
      padding: $base $base * 2;
    }

    box-sizing: border-box;
    padding: $base;
    width: 100%;
    border: solid 1px $border;
  }

  &__dropdown {
    width: 100%;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: $border;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: $white;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: 1;
  }

  &__option {
    padding: $base $base * 2 $base - 3;

    &:hover {
      background: $hover;
    }

    &.is-active {
      background: $active;
    }
  }
}
