@import "bootstrap";

$main-color: #cececf;
$secondary-color: #dfd3ae;
$highlight-color: #f5e9c4;

#title {
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.ember-select-guru {
  position: relative;
  background-color: $main-color;

  .value-wrapper {
    border: 1px solid #000;
    padding: 1px;
    height: 22px;
    cursor: pointer;

    li {
      display: inline-block;
    }
  }

  .ember-select-guru-search {
    border: none;
    margin-left: 1px;
  }

  .el-tether {
    width: 100%;
    position: absolute;
    top: 22px;
    z-index: 1000;

    .single-value-search, .multiple-value-selector {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding-right: 3px;

      input {
        width: 100%;
        background-color: $main-color;
      }
    }
  }

  .options-wrapper {
    border-top: 1px solid #000;
    box-shadow: 1px 1px 5px rgba(#000, .5);

    div {
      border: 1px solid #000;
      border-top: none;
      background-color: $main-color;
      padding: 1px;

      &:hover {
        background-color: $secondary-color;
        cursor: pointer;
      }

      &.is-active {
        background-color: $highlight-color;
      }
    }
  }

  .multi-value {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: $main-color;

    &__remove {
      border-left: 1px solid #000;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
