@import "bootstrap";

$main-color: #cececf;
$secondary-color: #dfd3ae;

.ember-select-guru {
  position: relative;
  background-color: $main-color;

  .value-wrapper {
    border: 1px solid #000;
    padding: 1px;
    height: 16px;
    cursor: pointer;

    li {
      display: inline-block;
    }
  }

  .ember-select-guru-search {
    border: none;
    margin-left: 1px;
  }

  .el-tether {
    width: 100%;
    position: absolute;
    top: 19px;
    z-index: 1000;

    .single-value-search, .multiple-value-selector {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      padding-right: 3px;

      input {
        width: 100%;
        background-color: $main-color;
      }
    }
  }

  .options-wrapper {
    border-top: 1px solid #000;
    box-shadow: 1px 1px 5px rgba(#000, .5);

    div {
      border: 1px solid #000;
      border-top: none;
      background-color: $main-color;
      padding: 1px;

      &:hover {
        background-color: $secondary-color;
        cursor: pointer;
      }
    }
  }

  .multi-value {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: $main-color;

    &__remove {
      border-left: 1px solid #000;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}
