<h2 id="title">ember-select-guru</h2>

<p>Single</p>
{{ember-select-guru
  value=singleValue
  options=options
  onSearchInputChange=(action "queryTermChanged")
  onSelect=(action "handleSingleSelect")}}

<p>Multiple</p>
{{ember-select-guru
  value=multipleValue
  options=options
  onSearchInputChange=(action "queryTermChanged")
  onSelect=(action "handleMultiSelect")
  multiple=true}}

<p>Remote</p>
{{ember-select-guru
  value=remoteValue
  options=remoteOptions
  onSearchInputChange=(action "remoteQueryTermChanged")
  onSelect=(action "handleRemoteSelect")}}
